.header__logo {
    width: 176px;
    height: 56px;
    opacity: 1;
    transition: 200ms;
}

.header__logo:hover {
    opacity: 0.6;
}

@media (max-width: 767px) { 
    .header__logo {
        width: 142px;
        height: 42px;
    }
}