/* style.css */

.page {
    color:  #ffffff;
    background-color: #2A2C2F;
    font: 'Inter', Arial, sans-serif;
  }

.header {
    margin: 16px 0 0 16px;
}

.header__logo {

}

.header__lang {

}

.header__lang-linl {

}

.header__lang-linl_select {

}

.content {

}

.lead {

}

.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
}

.lead__subtitle {

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
}

.lead__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}


.intro {

}

.intro__title {

}

.intro__text {

}

.intro__list {

}

.intro__list-point {

}

.intro__list-nomber {

}

.photo-grid {

}

.photo-grid__item {
    
}

.places {

}

.place {

}

.place__title {

font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */

color: #FFFFFF;

}

.place__image {

}

.place__website {

}

.place__website_url-heading {

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */
letter-spacing: 0.2em;

color: #AAAAAA;
}

.place__website_link {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */
text-decoration-line: underline;

color: #FFFFFF;
}

.place__text {

}

.place__paragraph {

}
.cover {

}

.footer {
    
}