@import url(../place/__bottom-part/place__bottom-part.css);
@import url(../place/__image/place__image.css);
@import url(../place/__left-column/place__left-column.css);
@import url(../place/__paragraph/place__paragraph.css);
@import url(../place/__text/place__text.css);
@import url(../place/__title/place__title.css);
@import url(../place/__top-part/place__top-part.css);
@import url(../place/__website/place__website.css);
@import url(../place/__website/_url-heading/place__website_url-heading.css);
@import url(../place/__website/_link/place__website_link.css);

.place {
    display: flex;
    flex-direction: column;
}

.place:not(:last-child) {
    margin-bottom: 80px;
}