.place__website-url-heading {
    font-weight:400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    display: block;
    text-transform: uppercase;
    margin-bottom: 12px;
}